:root {
    --primary-color: rgb(62, 100, 255);
    --complete-color: #27aa80;
    --text-color: #172b4d;
    --disabled-color: #fad6d6;
    --background-color: #f5eaea;
}

html {
    background: rgb(0, 73, 191);
    background: #F4F5F7;
}

body {
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}

p {
    margin: 10px 0;
    overflow-wrap: break-word;
    text-align: left;
}

label {
    font-size: 16px;
    display: block;
}

button.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 4px;
    border-bottom: 1px solid var(--primary-color);
}

input:focus {
    outline: none;
}

select {
    outline: none;
    height: 40px;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(122, 77, 77, 0.486);
    text-align: center;
    position: relative;
}

.item-side {
    margin: 1px 0px 5px 0px;
    padding: 8px;
    border-radius: 3px;
    height: 35px;
    width: 220px;
    background-color: white;
}

.item:hover {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.item-side-title {
    font-weight: 550;
    font-size: 13px;
    text-align: left;
}

.drop-wrapper {
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.col-wrapper {
    margin: 8px;
    border: 3px solid lightgrey;
    border-radius: 2px;
    min-height: 23px;
}

.col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

.col {
    min-height: 200px;
    width: 240px;
}

.highlight-region {
    background-color: yellow;
}

.page-header {
    background-color: #054F7C;
    padding: 20px;
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    text-align: center;
    z-index: 4;
}

.modal {
    background-color: transparent;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    width: 800px;
    outline: none;
    padding: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    ;
}

.close-btn-ctn {
    display: flex;
}

.close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #031D2C;
    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: #DCDCDC;
}

#dropdown-container {
    display: none;
    background-color: rgb(182, 206, 214);
    padding-left: 10px;
    padding-top: 6px;
    text-align: center;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.errorSpan {
    color: red;
}

.formBuilderHead {
    display: inline-block;
    margin: 0;
    padding-top: 11px;
    color: white;
    background-color: rgb(99, 99, 216);
    width: 100%;
    height: 65px;
    font-weight: lighter;
    text-align: center;
}

#AddFieldBtn {
    font-weight: 550;
    font-size: 10px;
    background: lightgray;
    padding: 3px 3px 3px 3px;
}

#down-icon {
    text-align: right;
}

#drawer{
    z-index: 3
}

#appBar{
    z-index: 0
}

#crossBtn{
    background-color: transparent;
    border: none;
    font-size: 9px;
    position: absolute;
    top: -1px;
    right: -5px;
   }

#main{
    text-align: center;
}

#DropFilesHere{
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}